{% extends 'base.html' %}
{% block content %}

{% load cart %}
{% load custom_filter %}

<div class="container mt-4">
    <div class="row">
    <div class="col-md-4">
     <div class="row mx-auto">
		{% for product in products %}
		<div class="card mx-auto mb-4" id={{product.id}} style="margin-right: 0%; width: 300px; height: 400px;">
			
			<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap"></a>
			<hr>
			<div class="card-body" style="margin: 10px ; ">
				<p class="card-title" style="color: #D10024; font-size: 18px font-family: Georgia, 'Times New Roman', Times, serif;">{{product.name}}</p>
				<p class="card-text"><b>{{product.price|currency}}</b></p>
					<!-- {{product | is_in_cart:request.session.cart }} -->
			</div>

			<div class="card-footer p-0 no-gutters">

				{% if product|is_in_cart:request.session.cart %}
				<div class="row no-gutters">
					<form action="/#{{product.id}}" class="col-2 " method="post">
						{% csrf_token %}
						<input hidden type="text" name='product' value='{{product.id}}'>
						<input hidden type="text" name='remove' value='True'>
						<input type="submit" value=" - " class="btn btn-block btn-success border-right">
					</form>
					<div class="text-center col btn btn-success">{{product|cart_quantity:request.session.cart}} in Cart</div>
					<form action="/#{{product.id}}" class="col-2 " method="post">
						{% csrf_token %}
						<input hidden type="text" name='product' value='{{product.id}}'>
						<input type="submit" value=" + " class="btn btn-block btn-success border-left">
					</form>
				</div>
				{% else %}
				<form action="/#{{product.id}}" method="POST" class="btn-block">
					{% csrf_token %}
					<input hidden type="text" name='product' value='{{product.id}}'>
					<input type="submit" class="float-right btn btn-success form-control"
					value="Add To Cart">
				</form>
				{% endif %}
	
			</div>

		</div>
		{% endfor %}
	</div>
</div>
</div>
<div class="col-md-8">
     {% for product in products %}
    <p><b>{{product.description}}</b></p>
     {% endfor %}
    <ul>
     {% for p in productpage %}
    <p><b>{{p.media_content.url}}</b><b>{{p.media_content.url}}</b></p>
     {% endfor %}
        
    </ul>
</div>
</div>

{% endblock %}
