{% extends 'base.html' %}

{% load static %}
{% block content %}
{% load socialaccount %}
<style>

.form-control-sm form-control{
    border-radius: 50px;
    background-color: blue;
}
</style>

<div class="container mt-4" >
    
    <div class="p-3 m-3" style=" ">

        
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">
            
                <img
                src="{% get_media_prefix %}images/logo-icon.png" alt=""
                class="" style="align-content: center; height: 150px; width: 200px;">
            <!-- <hr> -->
            <hr>
            </div>
            <h3 class="alert alert-success rounded-pill" style="text-align:center;background-color: white;border-color: white; ">Sign Up</h3> 
            <form action="/signup" method="POST">
                
            <form method="post" action="/signup">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="{{ form.profile_pic.id_for_label }}">Profile Picture</label>
                        {{ form.profile_pic }}
                        {% if form.profile_pic.errors %}
                            <p class="error">{{ form.profile_pic.errors }}</p>
                        {% endif %}
                    </div>
                    <!-- username -->
                    <div class="form-group">
                        <label for="{{ form.username.id_for_label }}">Username</label>
                        {{ form.username }}
                        {% if form.username.errors %}
                            <p class="error">{{ form.username.errors }}</p>
                        {% endif %}
                    </div>
                
                    <!-- phone -->
                    <div class="form-group">
                        <label for="{{ form.phone.id_for_label }}">Contact</label>
                        {{ form.phone }}
                        {% if form.phone.errors %}
                            <p class="error">{{ form.phone.errors }}</p>
                        {% endif %}
                    </div>
                
                    <!-- email -->
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">Gmail</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <p class="error">{{ form.email.errors }}</p>
                        {% endif %}
                    </div>
                
                    <!-- password1 -->
                    <div class="form-group">
                        <label for="{{ form.password1.id_for_label }}">Password1</label>
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <p class="error">{{ form.password1.errors }}</p>
                        {% endif %}
                    </div>
                
                    <!-- password2 -->
                    <div class="form-group">
                        <label for="{{ form.password2.id_for_label }}">Password2</label>
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <p class="error">{{ form.password2.errors}}</p>
                        {% endif %}
                    </div>
                
                    <button type="submit">Sign Up</button>
            </form>
                
        </div>
    </div>
</div>

{% endblock %}
